/* src/css/AddArticle.css */


.card {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px ;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 0px;
  border: 2px solid #051424; /* Always visible border */
  background-color: #f8f9fa; /* Light background color */
  padding: 10px; /* Add padding */
  transition: border-color 0.3s, background-color 0.3s;
}

.form-control:focus {
  border-color: #007bff; 
  background-color: #ffffff; 
  box-shadow: none; 
}

button {
  width: 100%;
  margin-top: 20px;
}

.spinner-border {
  display: block;
  margin: 10px auto;
}

img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
