
.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  height: 38px; 
 margin-bottom: 0px;
  margin-right: 10px; 
  width: 100%;

}

.search-button {
  height: 38px; 
  border-radius: 0; 
  border-left: 10px; 
}
